body {
    background-color: black;
}

div {
    display: block;
    padding: 10px;
    font-family: Arial;
}

.row {
    padding:0;
    border: 0;
    margin: 0;
}

#header, #values {
    background-color: #000000;
    border: 1px solid white;
}

#pageFrame {
    border: 10px solid lightgray;
                                    /*TODO: add gradient*/
    border-radius: 10px;
}

iframe#pageFrame.col-md-8 {
    padding:0;
}

iframe#alarmBanner.col-md-12 {
    padding:0;
    background-color: black;
}

#values {
    color: white;
    text-align: right;
}

.values {
    font-size: 3.5em;
    font-weight: bold;
    padding: 1px;
    margin: 0;
    border: 0;
}

.units {
    font-size: 1.5em;
}

.FixedSx {
    text-align:center;
    padding: 0;
    font-family: "Century Gothic", sans-serif;
    font-size: 1.5em;
}

#icons {
    background-color: darkgray;
    horiz-align: center;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#footer {
    background-color: #ccccff;
    border: 2px solid black;
    font-size: 1.25em;
}

hr {
    color: #ccccff;
}

.iconimg {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto\9; 
}

.container-cell {
    display: table-cell;
    width: auto;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content#popupBox {
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 300px;
    height: 340px;
}
.modal-content#powerBox {
    margin: 180px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 600px;
    height: 200px;
}

.powerButtons {
    border-radius: 5px;
    width: 100px;
    height:50px;
}

.modal-content.animate {
    background-color: #ffff99;
    border: 3px solid gray;
}


/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.1s;
    animation: animatezoom 0.1s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

#tableContainer {
    background-color: darkgray;
    border: 1px solid gray;
    width: 160px;
    float:left;
}

#keypad td {
    background-color: darkgray;
    height: 50px;
    width: 50px;
    text-align: center;
}

#okCancel {
    background-color: transparent;
    width: 100px;
    text-align: center;
}

#ok, #cancel {
    border-radius: 5px;
}

#ok {
    padding: 10px 20px 10px 20px;
}

#cancel {
    padding: 10px;
}


.keypadButton {
    padding:3px 30px 20px 3px;
    border-radius:7px;
    border: 1px solid gray;
}

