#outerTabs {
    background-color: #ECECEC;
    padding:0;
}

#innerTabs {
    background-color: white;
    padding: 10px;
    border: 1px solid #AAAAAA;
}

.tabcontent {
    background-color: #ECECEC;
    padding: 10px;
    border: 1px solid #AAAAAA;
    margin: 0;
}

#setup {
    display: none;
    padding: 0;
}

#keypad td {
    background-color: darkgray;
    height: 50px;
    width: 50px;
    text-align: center;
}

.modal-content#hemaPopupBox {
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 300px;
    height: 340px;
}

#okCancel {
    background-color: transparent;
    width: 100px;
    text-align: center;
}

#ok, #cancelHema {
    border-radius: 5px;
}

#ok {
    padding: 10px 20px 10px 20px;
}

#cancelHema {
    padding: 10px;
}


.keypadButton {
    padding:3px 30px 20px 3px;
    border-radius:7px;
    border: 1px solid gray;
}

.PVCMcontent {
    background-color: #ECECEC;
    display: none;
    border-top: 1px solid #AAAAAA;
    margin: 0;
}


.tabrow {
    margin: 0;
    padding: 0;
    line-height: 24px;
    height: 30px;
    overflow: hidden;
    font-size: 14px;
    font-family: Arial;
    position: relative;
}
.tabrow li {
    border: 1px solid #AAA;
    background: #D1D1D1;
    display: inline-block;
    position: relative;
    z-index: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    text-shadow: 0 1px #FFF;
    margin: 0 2px;
    padding:2px 10px;
    color: #7c7c7c;
}

#PVCMtabrow li {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tabrow li.selected {
    background: #ECECEC;
    color: #333;
    z-index: 2;
    border-top-color: #ECECEC;
}
.tabrow li.selected.PVCM {
    background: #ECECEC;
    color: #333;
    z-index: 2;
    border-top-color: #AAA;
    border-bottom-color: #ECECEC;
}
.tabrow li.selected.FP {
    background: white;
    color: #333;
    z-index: 2;
    border-top-color: white;
}

#rpmButton {
    width: 100%;
    height: 60px;
    border-radius: 7px
}

.patientButtons {
    width: 100%;
    height: 60px;
    border-radius: 7px
}

#grayTable td {
    border: 1px solid darkgray;
}

#VADON td {
    border:1px solid #ECECEC;
}
/*style from: https://css-tricks.com/better-tabs-with-round-out-borders/*/



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.modal#changeRpmModal {
    padding-top: 230px;
}

/* Modal Content/Box */
.modal-content {
    margin: 0 auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 600px;
    height: 200px;
}

.modal-content.animate {
    background-color: #ffff99;
    border: 3px solid gray;
}


/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.1s;
    animation: animatezoom 0.1s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

#change, #cancel {
    border-radius: 5px;
    width: 100px;
    height:50px;
}

#rpmVal {
    width:300px;
    padding: 20px 20px 0 20px;
}

#rpmLabel {
    padding: 0 20px 30px 0;
}

.arrowButtons {
    padding: 10px;
}

.changeCancelButtons {
    padding: 10px;
}

#invisTable, #invisTable td {
    border:5px solid #ECECEC;
}