h1{
  float:left;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 80px;
  text-align: left;
  padding: 0;
  border: 0;
  margin-top: 20px;
  margin-bottom: 0px;
  height: 90px;
  width: 600px;
}

ul,li{
  float:right;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 40px;
  padding: 0;
  border: 0;
  margin-top: 10px;
  margin-bottom: 0px;
  height: 70px;
  width: screen.width - 630px;
  display:inline;
  cursor: pointer;
}

#logoutBtn{
  display:inline;
  float:right;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  height: 20px;
  width: screen.width - 600px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

#logoutBtn:hover{
  color: #4682B4;
  cursor: pointer;
}

input,button,body{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  text-align: center;
}

/* for when you don't use iframes and want to leave out a chunk at top
*/
.nextSection{
  padding-top:110px;
}
button.deleteButtonStyle{
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  border: 2px;
  border-color: black;
  border-style: solid;
  color: black;
  background-color: white;
  font-size: 20px;
  height: 40px;
  padding: 2px 13px 0px 10px;
}

button{
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  border: 2px;
  border-color: #4682B4;
  border-style: solid;
  color: #4682B4;
  background-color: white;
  padding: 20px 40px;
}

button:hover{
  background-color:	#B0C4DE;
}

input{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px;
  border-style: solid;
  border-bottom-color: #4682B4;
}

input:focus {
  outline: none;
}

li:hover{
  color: #4682B4;
}

a{
  font-family: 'Julius Sans One', sans-serif;
  color: black;
  text-decoration: none;
}

a:hover{
  color: #4682B4;
}

.format{
  margin-bottom:40px;
  margin-top:35px;
}

.formatBeginning{
  margin-top:55px;
}

.formatEnding{
  margin-top:25px;
  margin-bottom:25px;
  display:inline-block;
}

#txtEmail{
  width: 500px;
}
#txtPassword{
  width: 500px;
}

#styleOfDeleteBtn{
  padding: 10px 10px 0px 10px;
  display: inline-block;
}

.imageButton{
  display: inline-block;
}

p{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
}
